{% extends 'layouts/base_dash.html' %}
{% load static %}

{% block title %}
Liste groupes de matières
{% endblock title %}


{% block content %}
<div class="container-fluid content">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Liste des assignations de matières</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:teacher:teacher_subject_groups' %}">Liste des
                        assignations</a>
                    </li>
                    <div class="col-auto text-right float-right ml-auto">
                        <a href="{% url 'dashboard:teacher:create_teacher_subject_group' %}" class="btn btn-primary"><i
                                class="fas fa-plus"></i></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-table">

                <div class="card-body">
                    {% if messages %}
                    <div class="row my-4">
                        <div class="col-md-12">
                            {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="subjectGroupDataTable" class="table table-hover table-center mb-0 datatable">
                            <thead>
                            <tr>
                                <th scope="col">Professeur</th>
                                <th scope="col">Filière</th>
                                <th scope="col">Matières</th>
                                <th scope="col">Année académique</th>
                                <th class="text-right">Action</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subject_group in subject_groups %}
                            <tr>
                                <td>{{ subject_group.teacher.name }}</td>
                                <td>
                                    {{ subject_group.department }}
                                </td>
                                <td>
                                    {% for subject in subject_group.subjects.all %}
                                    <p>
                                        <i>{{ subject }}</i>
                                    </p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ subject_group.ac_session }}
                                </td>
                                <td class="text-right">
                                    <div class="actions">
                                        <a href="{% url 'dashboard:teacher:update_teacher_subject_groups' pk=subject_group.pk%}"
                                           class="btn btn-sm bg-success-light mr-2">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <form method="POST"
                                          action="{% url 'dashboard:teacher:delete_teacher_subject_groups' pk=subject_group.id%}">
                                        {% csrf_token %}
                                        <a type="submit" class="btn btn-sm bg-danger-light show_confirm"
                                           data-toggle="tooltip" title='Delete'><i class="fas fa-trash"></i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block customjs %}
<script type="text/javascript">
$('.show_confirm').click(function(event) {
    var form =  $(this).closest("form");
    var name = $(this).data("name");
    event.preventDefault();
    swal({
        title: `Voulez-vous vraiment supprimer cet enregistrement ?`,
        text: "Si vous le supprimez, il disparaîtra pour toujours.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            form.submit();
        }
    });
});








</script>
{% endblock %}