{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
{% endblock %}

{% block title %}
Années académiques
{% endblock title %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Années académique</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Liste des années académique</li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <!-- <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a> -->
                <a href="{% url 'dashboard:academic:create_ac_session' %}" class="btn btn-primary"><i
                        class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Année-Scolaire</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                                <th class=""></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ac_session in ac_sessions%}
                            <tr>
                                <td>{{ac_session.academic_year}}</td>
                                <td>{{ac_session.current}}</td>
                                <td class="text-right">
                                    <div class="actions">
                                        <a href="{% url 'dashboard:academic:update_ac_session' pk=ac_session.pk%}"
                                           class="btn btn-sm bg-success-light mr-2">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </div>
                                </td>
                                 <td>
                                    <form method="POST"
                                          action="{% url 'dashboard:academic:delete_ac_session' pk=ac_session.id%}">
                                        {% csrf_token %}
                                        <a type="submit" class="btn btn-sm bg-danger-light show_confirm"
                                           data-toggle="tooltip" title='Delete'><i class="fas fa-trash"></i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script type="text/javascript">
$('.show_confirm').click(function(event) {
    var form =  $(this).closest("form");
    var name = $(this).data("name");
    event.preventDefault();
    swal({
        title: `Voulez-vous vraiment supprimer cet enregistrement ?`,
        text: "Si vous le supprimez, il disparaîtra pour toujours.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            form.submit();
        }
    });
});







</script>
{% endblock %}