{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Acceuil
{% endblock title %}


{% block content %}


<section class="unlimited_possibilities">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Bienvenue à l'ESAG-NDE</h2>
                    <p>
                        Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
                        Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
                        nisi et.
                    </p>
                </div>
                <!-- ends: .section-header -->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item single_item_first">
                    <div class="icon_wrapper">
                        <i class="flaticon-student"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Cours du jour/soir</a></h3>
                        <p>
                            Lorem ipsum dolor consectetur sed do tempor incididunt ut laboris
                            ut aliquip ex commodo nt ut laboris ut aliquip ex commodo conquat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item single_item_center">
                    <div class="icon_wrapper">
                        <i class="flaticon-university"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Cadre idéal</a></h3>
                        <p>
                            Lorem ipsum dolor consectetur sed do tempor incididunt ut laboris
                            ut aliquip ex commodo nt ut laboris ut aliquip ex commodo conquat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item single_item_last">
                    <div class="icon_wrapper">
                        <i class="flaticon-diploma"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Diplômes certifiés</a></h3>
                        <p>
                            Lorem ipsum dolor consectetur sed do tempor incididunt ut laboris
                            ut aliquip ex commodo nt ut laboris ut aliquip ex commodo conquat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Unlimited Possibilities -->


<section class="learn_shep">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                <div class="title">
                    <h2>Rejoignez L'aventure.</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        blanditiis praesentium voluptatum deleniti atque corrupti quos
                        esentium voluptatum delenitamus et iusto odio dignissimos ducimus
                        qui blanditiis pri atqueint.
                    </p>
                    <a href="#" title="">Découvrir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 ml-auto p-0">
                <div class="shep_banner_wrapper">
                    <div class="step_single_banner">
                        <img
                                src="{% static 'home/images/features/features_2_1.jpg' %}"
                                alt=""
                                class="img-fluid"
                        />
                        <img
                                src="{% static 'home/images/features/features_2_2.jpg' %}"
                                alt=""
                                class="img-fluid"
                        />
                    </div>
                    <div class="step_single_banner">
                        <img
                                src="{% static 'home/images/features/features_2_3.jpg' %}"
                                alt=""
                                class="img-fluid"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Larnign Step -->

<section class="popular_courses" id="popular_courses_2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Our Popular Courses</h2>
                    <p>
                        Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
                        Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
                        nisi et.
                    </p>
                </div>
                <!-- ends: .section-header -->
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-courses">
                    <div class="courses_banner_wrapper">
                        <div class="courses_banner">
                            <a href="#"
                            ><img
                                    src="images/courses/courses_1.jpg"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <div class="purchase_price">
                            <a href="#" class="read_more-btn">$150</a>
                        </div>
                    </div>
                    <div class="courses_info_wrapper">
                        <div class="courses_title">
                            <h3><a href="#">Make Better Decisions</a></h3>
                            <div class="teachers_name">
                                Teacher - <a href="#" title="">Jhonthan Smith</a>
                            </div>
                        </div>
                        <div class="courses_info">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-calendar-alt"></i>180 Days</li>
                                <li><i class="fas fa-user"></i>30 Students</li>
                            </ul>
                            <a href="#" class="cart_btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <!-- Ends: .single courses -->
            </div>
            <!-- Ends: . -->

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-courses">
                    <div class="courses_banner_wrapper">
                        <div class="courses_banner">
                            <a href="#"
                            ><img
                                    src="images/courses/courses_2.jpg"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <div class="purchase_price">
                            <a href="#" class="read_more-btn">Free</a>
                        </div>
                    </div>
                    <div class="courses_info_wrapper">
                        <div class="courses_title">
                            <h3><a href="#">How To Be A Speaker</a></h3>
                            <div class="teachers_name">
                                Teacher - <a href="#" title="">Denise Wood</a>
                            </div>
                        </div>
                        <div class="courses_info">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-calendar-alt"></i> 180 Days</li>
                                <li><i class="fa fa-user"></i>50 Students</li>
                            </ul>
                            <a href="#" class="cart_btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <!-- Ends: .single courses -->
            </div>
            <!-- Ends: . -->

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-courses">
                    <div class="courses_banner_wrapper">
                        <div class="courses_banner">
                            <a href="#"
                            ><img
                                    src="images/courses/courses_3.jpg"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <div class="purchase_price">
                            <a href="#" class="read_more-btn">120$</a>
                        </div>
                    </div>
                    <div class="courses_info_wrapper">
                        <div class="courses_title">
                            <h3><a href="#">Network Introductions</a></h3>
                            <div class="teachers_name">
                                Teacher - <a href="#" title="">Preston Marshall</a>
                            </div>
                        </div>
                        <div class="courses_info">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-calendar-alt"></i> 140 Days</li>
                                <li><i class="fa fa-user"></i>60 Students</li>
                            </ul>
                            <a href="#" class="cart_btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <!-- Ends: .single courses -->
            </div>
            <!-- Ends: . -->

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-courses">
                    <div class="courses_banner_wrapper">
                        <div class="courses_banner">
                            <a href="#"
                            ><img
                                    src="images/courses/courses_4.jpg"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <div class="purchase_price">
                            <a href="#" class="read_more-btn">250$</a>
                        </div>
                    </div>
                    <div class="courses_info_wrapper">
                        <div class="courses_title">
                            <h3><a href="#">Brand Management</a></h3>
                            <div class="teachers_name">
                                Teacher - <a href="#" title="">John Porter</a>
                            </div>
                        </div>
                        <div class="courses_info">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-calendar-alt"></i> 130 Days</li>
                                <li><i class="fa fa-user"></i>45 Students</li>
                            </ul>
                            <a href="#" class="cart_btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <!-- Ends: .single courses -->
            </div>
            <!-- Ends: . -->

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-courses">
                    <div class="courses_banner_wrapper">
                        <div class="courses_banner">
                            <a href="#"
                            ><img
                                    src="images/courses/courses_5.jpg"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <div class="purchase_price">
                            <a href="#" class="read_more-btn">180$</a>
                        </div>
                    </div>
                    <div class="courses_info_wrapper">
                        <div class="courses_title">
                            <h3><a href="#">Moralities Of Everyday</a></h3>
                            <div class="teachers_name">
                                Teacher - <a href="#" title="">Mittie Hill</a>
                            </div>
                        </div>
                        <div class="courses_info">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-calendar-alt"></i> 190 Days</li>
                                <li><i class="fa fa-user"></i>40 Students</li>
                            </ul>
                            <a href="#" class="cart_btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <!-- Ends: .single courses -->
            </div>
            <!-- Ends: . -->

            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="single-courses">
                    <div class="courses_banner_wrapper">
                        <div class="courses_banner">
                            <a href="#"
                            ><img
                                    src="{% static 'home/images/courses/courses_6.jpg' %}"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <div class="purchase_price">
                            <a href="#" class="read_more-btn">130$</a>
                        </div>
                    </div>
                    <div class="courses_info_wrapper">
                        <div class="courses_title">
                            <h3><a href="#">Life Coach Training</a></h3>
                            <div class="teachers_name">
                                Teacher - <a href="#" title="">Marian Dupre</a>
                            </div>
                        </div>
                        <div class="courses_info">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-calendar-alt"></i> 150 Days</li>
                                <li><i class="fa fa-user"></i>30 Students</li>
                            </ul>
                            <a href="#" class="cart_btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <!-- Ends: .single courses -->
            </div>
            <!-- Ends: . -->
        </div>
    </div>
    <div class="shape_bg">
        <span class="shape_1"></span>
        <span class="shape_2"></span>
        <span class="shape_3"></span>
    </div>
</section>
<!-- ./ End Courses Area section -->

<section class="register_area">
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-7 form-content">
                <h2>Pleins les opportunités d'études<br>
                    en un seul endroit</h2>
                <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus<br> eget.felis
                    dapibus arcu donec viverra. Pede phasellus eget. Etiam maecenas vel<br> vici quis dictum rutrum nec
                    nisi et.</p>
                <div class="count_student">
                    <div class="single_count">
                        <span class="counter">54000</span>
                        <span class="department_name">Students</span>
                    </div>
                    <div class="single_count">
                        <span class="counter">1650</span>
                        <span class="department_name">Scholarships</span>
                    </div>
                    <div class="single_count">
                        <span class="counter">150</span>
                        <span class="department_name">Courses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./ End Register Area section -->

<section class="our_instructors">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Notre Staff</h2>
                    <p>
                        Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
                        Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
                        nisi et.
                    </p>
                </div>
                <!-- ends: .section-header -->
            </div>
            <div class="single-wrappe col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img
                                        src="images/team/team_1.jpg"
                                        alt="member img"
                                        class="img-fluid"
                                />
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Jonson Park</a></h4>
                                <span>Professor</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img
                                        src="images/team/team_2.jpg"
                                        alt="member img"
                                        class="img-fluid"
                                />
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Teymoni</a></h4>
                                <span>Lecturer</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img
                                        src="images/team/team_3.jpg"
                                        alt="member img"
                                        class="img-fluid"
                                />
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Jonathon Smith</a></h4>
                                <span>Coordinator</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img
                                        src="{% static 'home/images/team/team_4.jpg' %}"
                                        alt="member img"
                                        class="img-fluid"
                                />
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Monki parki</a></h4>
                                <span>Assistant</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img
                                        src="{% static 'home/images/team/team_5.jpg' %}"
                                        alt="member img"
                                        class="img-fluid"
                                />
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Yakailo Mim</a></h4>
                                <span>Teacher</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img
                                        src="{% static 'home/images/team/team_6.jpg' %}"
                                        alt="member img"
                                        class="img-fluid"
                                />
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Jonson Park</a></h4>
                                <span>Asistant</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ End Our Instructiors -->

<section class="testimonial_2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2>What Our Student Say About Us</h2>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="testimonial_wrapper_4">
                    <div class="testimonial_single">
                        <p>
                            "I must explain to you how all this mistaken idea of denouncing
                            pleasure and praising pain was born and I will give you a complete
                            account of the system,<br/>
                            and expound the actual teachings."
                        </p>
                        <div class="reviewer_info">
                            <div class="member-img">
                                <img
                                        src="{% static 'home/images/team/team_1.jpg' %}"
                                        alt="member img"
                                        class="img-fluid wow zoomIn"
                                        data-wow-duration="2s"
                                        data-wow-delay=".2s"
                                />
                            </div>
                            <h4>Jhone Smith</h4>
                            <span>Graphic Design</span>
                        </div>
                    </div>
                    <div class="testimonial_single">
                        <p>
                            I must explain to you how all this mistaken idea of denouncing
                            pleasure and praising pain was born and I will give you a complete
                            account of the system, and expound the actual teachings of the
                            great explorer of the truth, the master-builder of human
                            happiness.
                        </p>
                        <div class="reviewer_info">
                            <div class="member-img">
                                <img
                                        src="{% static 'home/images/team/team_2.' %}'"
                                        alt="member img"
                                        class="img-fluid"
                                />
                            </div>
                            <h4>By Dr. Alex Limon</h4>
                            <span>Guardian</span>
                        </div>
                    </div>
                    <div class="testimonial_single">
                        <p>
                            I must explain to you how all this mistaken idea of denouncing
                            pleasure and praising pain was born and I will give you a complete
                            account of the system, and expound the actual teachings of the
                            great explorer of the truth, the master-builder of human
                            happiness.
                        </p>
                        <div class="reviewer_info">
                            <div class="member-img">
                                <img
                                        src="images/team/team_3.jpg"
                                        alt="member img"
                                        class="img-fluid"
                                />
                            </div>
                            <h4>By Nathen Dived</h4>
                            <span>Guardian</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape_wrapper">
        <img src="{% static 'home/images/shapes/testimonial_2_shpe_2.png' %}" alt="" class="shape_1"/>
        <img src="{% static 'home/shapes/testimonial_2_shpe_3.png' %}" alt="" class="shape_2"/>
        <img src="{% static 'home/images/shapes/testimonial_2_shpe_1.png' %}" alt="" class="shape_3"/>
    </div>
</section>
<!-- End Testimonial -->

<section class="latest_news_2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Latest Eduwise News</h2>
                    <p>
                        Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra.
                        Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec
                        nisi et.
                    </p>
                </div>
                <!-- ends: .section-header -->
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item">
                    <div class="item_wrapper">
                        <div class="blog-img">
                            <a href="#" title=""
                            ><img
                                    src="{% static 'home/images/courses/courses_5.jpg' %}"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <h3>
                            <a href="#" title=""
                            >How to Become Master In CSS within qa Week.</a
                            >
                        </h3>
                    </div>
                    <div class="blog_title">
                        <ul class="post_bloger">
                            <li><i class="fas fa-user"></i>Jhon Dheo</li>
                            <li><i class="fas fa-comment"></i>0 Comments</li>
                            <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
                        </ul>
                    </div>
                    <div class="twitter_post">
                        <div class="blog_title">
                            <div class="icon_wrapper">
                                <i class="fab fa-twitter twitt-icon"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                                dictum rutrum nec nisi et.
                            </p>
                            <a href="#" title="">https://t.co/djPsTmfgh</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item">
                    <div class="item_wrapper">
                        <div class="blog-img">
                            <a href="#" title=""
                            ><img
                                    src="{% static 'home/images/courses/courses_6.jpg' %}"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <h3>
                            <a href="#" title="">Students work together to solve a problem</a>
                        </h3>
                    </div>
                    <div class="blog_title">
                        <ul class="post_bloger">
                            <li><i class="fas fa-user"></i>Jhon Dheo</li>
                            <li><i class="fas fa-comment"></i>0 Comments</li>
                            <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
                        </ul>
                    </div>
                    <div class="twitter_post">
                        <div class="blog_title">
                            <div class="icon_wrapper">
                                <i class="fab fa-twitter twitt-icon"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                                dictum rutrum nec nisi et.
                            </p>
                            <a href="#" title="">https://t.co/djPsTmfgh</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item">
                    <div class="item_wrapper">
                        <div class="blog-img">
                            <a href="#" title=""
                            ><img
                                    src="{% static 'home/images/courses/courses_4.jpg' %}"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <h3>
                            <a href="#" title="">Magazine Design Start to Finish The Cover</a>
                        </h3>
                    </div>
                    <div class="blog_title">
                        <ul class="post_bloger">
                            <li><i class="fas fa-user"></i>Jhon Dheo</li>
                            <li><i class="fas fa-comment"></i>0 Comments</li>
                            <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
                        </ul>
                    </div>
                    <div class="twitter_post">
                        <div class="blog_title">
                            <div class="icon_wrapper">
                                <i class="fab fa-twitter twitt-icon"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                                dictum rutrum nec nisi et.
                            </p>
                            <a href="#" title="">https://t.co/djPsTmfgh</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item">
                    <div class="item_wrapper">
                        <div class="blog-img">
                            <a href="#" title=""
                            ><img
                                    src="{% static 'home/images/courses/courses_3.jpg' %}"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <h3>
                            <a href="#" title="">Magazine Design Start to Finish The Cover</a>
                        </h3>
                    </div>
                    <div class="blog_title">
                        <ul class="post_bloger">
                            <li><i class="fas fa-user"></i>Jhon Dheo</li>
                            <li><i class="fas fa-comment"></i>0 Comments</li>
                            <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
                        </ul>
                    </div>
                    <div class="twitter_post">
                        <div class="blog_title">
                            <div class="icon_wrapper">
                                <i class="fab fa-twitter twitt-icon"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                                dictum rutrum nec nisi et.
                            </p>
                            <a href="#" title="">https://t.co/djPsTmfgh</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item">
                    <div class="item_wrapper">
                        <div class="blog-img">
                            <a href="#" title=""
                            ><img
                                    src="{% static 'home/images/courses/courses_1.jpg' %}"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <h3>
                            <a href="#" title=""
                            >Adobe Dimension Essential Training The Basics</a
                            >
                        </h3>
                    </div>
                    <div class="blog_title">
                        <ul class="post_bloger">
                            <li><i class="fas fa-user"></i>Jhon Dheo</li>
                            <li><i class="fas fa-comment"></i>0 Comments</li>
                            <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
                        </ul>
                    </div>
                    <div class="twitter_post">
                        <div class="blog_title">
                            <div class="icon_wrapper">
                                <i class="fab fa-twitter twitt-icon"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                                dictum rutrum nec nisi et.
                            </p>
                            <a href="#" title="">https://t.co/djPsTmfgh</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item">
                    <div class="item_wrapper">
                        <div class="blog-img">
                            <a href="#" title=""
                            ><img
                                    src="{% static 'home/images/courses/courses_2.jpg' %}"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                        <h3>
                            <a href="#" title=""
                            >How to Become Master In CSS within qa Week.</a
                            >
                        </h3>
                    </div>
                    <div class="blog_title">
                        <ul class="post_bloger">
                            <li><i class="fas fa-user"></i>Jhon Dheo</li>
                            <li><i class="fas fa-comment"></i>0 Comments</li>
                            <li><i class="fas fa-thumbs-up"></i> 0 Like</li>
                        </ul>
                    </div>
                    <div class="twitter_post">
                        <div class="blog_title">
                            <div class="icon_wrapper">
                                <i class="fab fa-twitter twitt-icon"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                                viverra. Pede phasellus eget. Etiam maecenas vel vici quis
                                dictum rutrum nec nisi et.
                            </p>
                            <a href="#" title="">https://t.co/djPsTmfgh</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->

<section class="teamgroup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                <div class="teamgroup_info_wrapper">
                    <h2>
                        Start now and turn your knowledge into a profitable online course
                    </h2>
                    <a href="#" title="" class="srtarte_btn">Get Started Now</a>
                </div>
                <div class="teamgroup_info_banner">
                    <img src="{% static 'home/images/banner/teamgroup.png' %}" alt="" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Group -->

{% endblock content%}
