{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load student_tags %}

{% block title %}
Matières
{% endblock title %}


{% block content %}
<div class="container-fluid content">
    <section id="student-results">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-12">
                    {% if subjects %}
                    <h3>Mes matières</h3>
                    {% for subject_group in subjects %}
                    <div class="card card-table">

                        <div class="card-header">
                            <h5>Filière : {{ subject_group.department }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">Libellé</th>
                                        <th scope="col">Code</th>
                                    </tr>
                                    </thead>
                                    {% for subject in subject_group.subjects.all %}
                                    <tbody>
                                    <tr>
                                        <td>
                                            <i>{{ subject.name }}</i>
                                        </td>
                                        <td><i>{{ subject.subject_code }}</i></td>
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Il n'y a pas encore de matières assignées pour vous {{teacher.name}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}

{% block customjs %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% endblock %}