{% load static %}
<!-- Footer -->
<footer class="footer_2">
  <div class="container">
    <div class="footer_top">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="footer_single_col footer_intro">
            <img
              src="{% static 'home/images/logo2.png '%}"
              alt=""
              class="f_logo"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2">

        </div>
        <div class="col-12 col-md-6 col-lg-2">

        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="footer_single_col contact">
            <h3>Nous contacter</h3>
            <p>Ante amet vitae vulputate odio nulla vel pretium aenean.</p>
            <div class="contact_info">
              <span>+228 22 70 61 50</span>
              <span class="email">esagnde@esagnde.org</span>
            </div>
            <ul class="social_items d-flex list-unstyled">
              <li>
                <a href="#"><i class="fab fa-facebook-f fb-icon"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter twitt-icon"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin-in link-icon"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram ins-icon"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12">

        </div>
      </div>
    </div>
  </div>
  <div class="shapes_bg">
    <img
      src="{% static 'home/images/shapes/testimonial_2_shpe_1.png '%}"
      alt=""
      class="shape_3"
    />
    <img
      src="{% static 'home/images/shapes/footer_2.png '%}"
      alt=""
      class="shape_1"
    />
  </div>
</footer>
<!-- End Footer -->
