{% load static %}
{% load active_link_tags %}
<header class="header_tow">
  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
          <div class="info_wrapper">
            <div class="contact_info">
              <ul class="list-unstyled">
                <li><i class="flaticon-phone-receiver"></i>+000-2356-222</li>
                <li>
                  <i class="flaticon-mail-black-envelope-symbol"></i
                  >contact@yourdomain.com
                </li>
              </ul>
            </div>
            <div class="login_info">
              <ul class="d-flex">
                {% if request.user.is_authenticated %}
                 <li class="nav-item">
                   {% if request.user.requested_role == 'student' %}
                   <a
                    href="{% url 'dashboard:student_dash' %}"
                    class="nav-link sign-in js-modal-show"
                    ><i
                      class="flaticon-dashboard"
                    ></i
                    >Dashboard</a
                  >
                   {% else %}
                  <a
                    href="{% url 'dashboard:index' %}"
                    class="nav-link sign-in js-modal-show"
                    ><i class="flaticon-dashboard"></i>Dashboard</a
                  >
                   {% endif %}
                </li>
                {% else %}

                <li class="nav-item">
                  <a
                    href="{% url 'register' %}"
                    class="nav-link sign-in js-modal-show"
                    ><i
                      class="flaticon-user-male-black-shape-with-plus-sign"
                    ></i
                    >Créer un compte</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="{% url 'login' %}"
                    class="nav-link join_now js-modal-show"
                    ><i class="flaticon-padlock"></i>Se connecter</a
                  >
                </li>
                {% endif %}
              </ul>
              <a href="#" title="" class="apply_btn">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="edu_nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-faded">
        <a class="navbar-brand" href="index-2.html"
          ><img src="{% static 'home/images/logo2.png' %}" alt="logo"
        /></a>
        <div
          class="collapse navbar-collapse main-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav nav lavalamp ml-auto menu">
            <li class="nav-item">
              <a href="#" class="nav-link active">Home</a>
              <ul class="navbar-nav nav mx-auto">
                <li class="nav-item">
                  <a href="index-2.html" class="nav-link">Home Version 01</a>
                </li>
                <li class="nav-item">
                  <a href="index-3.html" class="nav-link">Home Version 02</a>
                </li>
                <li class="nav-item">
                  <a href="index-4.html" class="nav-link">Home Version 03</a>
                </li>
                <li class="nav-item">
                  <a href="index-5.html" class="nav-link">Home Version 04</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="about.html" class="nav-link">A PROP0S</a>
            </li>
            <li class="nav-item">
              <a href="course.html" class="nav-link">Nos Formations</a>
              <ul class="navbar-nav nav mx-auto">
                <li class="nav-item">
                  <a href="course.html" class="nav-link">Courses</a>
                </li>
                <li class="nav-item">
                  <a href="course-details.html" class="nav-link"
                    >Courses Details</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="blog.html" class="nav-link">Blog</a>
              <ul class="navbar-nav nav mx-auto">
                <li class="nav-item">
                  <a href="blog.html" class="nav-link">Blog List</a>
                </li>
                <li class="nav-item">
                  <a href="blog-2.html" class="nav-link">Blog Grid One</a>
                </li>
                <li class="nav-item">
                  <a href="blog-3.html" class="nav-link">Blog Grid Two</a>
                </li>
                <li class="nav-item">
                  <a href="blog-details.html" class="nav-link">Blog Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Pages</a>
              <ul class="navbar-nav nav mx-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown_icon">Courses</a>
                  <ul class="navbar-nav nav mx-auto">
                    <li class="nav-item">
                      <a href="course.html" class="nav-link">Courses</a>
                    </li>
                    <li class="nav-item">
                      <a href="course-details.html" class="nav-link"
                        >Courses Details</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown_icon">Events</a>
                  <ul class="navbar-nav nav mx-auto">
                    <li class="nav-item">
                      <a href="event.html" class="nav-link">Event</a>
                    </li>
                    <li class="nav-item">
                      <a href="event-details.html" class="nav-link"
                        >Event Details</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown_icon">Blog</a>
                  <ul class="navbar-nav nav mx-auto">
                    <li class="nav-item">
                      <a href="blog.html" class="nav-link">Blog List</a>
                    </li>
                    <li class="nav-item">
                      <a href="blog-2.html" class="nav-link">Blog Grid One</a>
                    </li>
                    <li class="nav-item">
                      <a href="blog-3.html" class="nav-link">Blog Grid Two</a>
                    </li>
                    <li class="nav-item">
                      <a href="blog-details.html" class="nav-link"
                        >Blog Details</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="become-a-teacher.html" class="nav-link"
                    >Become A Teacher</a
                  >
                </li>
                <li class="nav-item">
                  <a href="teacher-profile.html" class="nav-link"
                    >Teachers Profile</a
                  >
                </li>
                <li class="nav-item">
                  <a href="team.html" class="nav-link">Teachers Page</a>
                </li>
                <li class="nav-item">
                  <a href="forgot-password.html" class="nav-link"
                    >Forgot Password</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
        <div class="mr-auto search_area">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <i class="search_btn flaticon-magnifier"></i>
              <div id="search">
                <button type="button" class="close">×</button>
                <form>
                  <input
                    type="search"
                    value=""
                    placeholder="Search here...."
                    required
                  />
                </form>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- END NAVBAR -->
    </div>
  </div>

  <!--==================
            Slider
        ===================-->
  <div class="rev_slider_wrapper">
    <div id="rev_slider_2" class="rev_slider" style="display: none">
      <!-- BEGIN SLIDES LIST -->
      <ul>
        <li
          data-index="rs-1706"
          data-transition="fade"
          data-slotamount="7"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-easein="default"
          data-easeout="default"
          data-masterspeed="1000"
          data-rotate="0"
          data-saveperformance="off"
          data-title="Slide"
          data-param1=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-param10=""
          data-description=""
        >
          <div class="slider-overlay"></div>
          <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
          <img
            src="{% static 'home/images/banner/banner_2.jpg' %}"
            alt="Sky"
            class="rev-slidebg"
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina
          />
          <!-- LAYER NR. 1 -->
          <div
            class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-300','-280','-250','-200']"
            data-fontsize="['60','40','30','18']"
            data-lineheight="['70','80','70','70']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            style="
              z-index: 7;
              color: #fff;
              font-family: 'Rubik', sans-serif;
              max-width: auto;
              max-height: auto;
              white-space: nowrap;
              font-weight: 500;
            "
          >
            Le but de l'éducation est l'avancement des connaissances
          </div>
          <!-- LAYER NR. 2 -->
          <div
            class="tp-caption NotGeneric-Title tp-resizeme"
            id="slide-3045-layer-1"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-150','-140','-120','-120']"
            data-fontsize="['170','120','80','40']"
            data-lineheight="['200','120','70','70']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"
            style="
              z-index: 5;
              font-family: 'Roboto', sans-serif;
              font-weight: 700;
              white-space: nowrap;
              text-transform: left;
            "
          >
            Prendre une meilleure éducation de
          </div>

          <!-- LAYER NR.3 -->
          <div
            class="tp-caption NotGeneric-Title tp-resizeme"
            id="slide-3045-layer-1"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['30','0','-10','-40']"
            data-fontsize="['170','120','80','40']"
            data-lineheight="['200','120','70','70']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"
            style="
              z-index: 5;
              font-family: 'Roboto', sans-serif;
              font-weight: 700;
              white-space: nowrap;
              text-transform: left;
            "
          >
            La meilleure école
          </div>

          <!-- LAYER NR. 4 -->
          <div
            class="tp-caption rev-btn rev-btn left_btn"
            id="slide-2939-layer-8"
            data-x="['center','center','center','center']"
            data-hoffset="['-380','280','190','120']"
            data-y="['middle','middle','top','top']"
            data-voffset="['360','220','600','450']"
            data-fontsize="['14','14','10','8']"
            data-lineheight="['34','34','30','20']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
            data-responsive_offset="on"
            data-responsive="off"
            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:#ff5a2c;bw:2px 2px 2px 2px;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,8,8]"
            data-paddingright="[40,40,30,25]"
            data-paddingbottom="[12,12,8,8]"
            data-paddingleft="[40,40,30,25]"
            style="
              z-index: 14;
              white-space: nowrap;
              font-weight: 500;
              color: #ffffff;
              font-family: Rubik;
              text-transform: uppercase;
              background-color: #ff5a2c;
              border-color: rgba(0, 0, 0, 1);
              border-width: 2px;
              border-radius: 3px;
            "
          >
            Commencer maintenant
          </div>
          <!-- LAYER NR. 5 -->
          <div
            class="tp-caption rev-btn rev-btn right-btn"
            id="slide-2939-layer-8"
            data-x="['center','center','center','center']"
            data-hoffset="['380','-280','-190','-120']"
            data-y="['middle','middle','top','top']"
            data-voffset="['360','220','600','450']"
            data-fontsize="['14','14','10','8']"
            data-lineheight="['34','34','30','20']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
            data-responsive_offset="on"
            data-responsive="off"
            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:#ff5a2c;bw:2px 2px 2px 2px; "}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,8,8]"
            data-paddingright="[40,40,30,25]"
            data-paddingbottom="[12,12,8,8]"
            data-paddingleft="[40,40,30,25]"
            style="
              z-index: 14;
              white-space: nowrap;
              font-weight: 500;
              color: #ffffff;
              font-family: Rubik;
              text-transform: uppercase;
              background-color: #092ace;
              letter-spacing: 1px;
              border-radius: 3px;
            "
          >
            Voir nos formations
          </div>
        </li>

        <li
          data-index="rs-1708"
          data-transition="fade"
          data-slotamount="7"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-easein="default"
          data-easeout="default"
          data-masterspeed="1000"
          data-rotate="0"
          data-saveperformance="off"
          data-title="Slide"
          data-param1=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-param10=""
          data-description=""
        >
          <div class="slider-overlay"></div>
          <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
          <img
            src="{% static 'home/images/banner/banner_1.jpg' %}"
            alt="Sky"
            class="rev-slidebg"
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina
          />
          <!-- BEGIN BASIC TEXT LAYER -->
          <!-- LAYER NR. 1 -->
          <div
            class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-300','-280','-250','-200']"
            data-fontsize="['60','40','30','18']"
            data-lineheight="['70','80','70','70']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            style="
              z-index: 7;
              color: #fff;
              font-family: 'Rubik', sans-serif;
              max-width: auto;
              max-height: auto;
              white-space: nowrap;
              font-weight: 500;
            "
          >
            Le but de l'éducation est l'avancement des connaissances
          </div>
          <!-- LAYER NR. 2 -->
          <div
            class="tp-caption NotGeneric-Title tp-resizeme"
            id="slide-3045-layer-11"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-150','-140','-120','-120']"
            data-fontsize="['170','120','80','40']"
            data-lineheight="['200','120','70','70']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"
            style="
              z-index: 5;
              font-family: 'Roboto', sans-serif;
              font-weight: 700;
              white-space: nowrap;
              text-transform: left;
            "
          >
            Prendre une meilleure éducation de
          </div>

          <!-- LAYER NR.3 -->
          <div
            class="tp-caption NotGeneric-Title tp-resizeme"
            id="slide-3045-layer-12"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['30','0','-10','-40']"
            data-fontsize="['170','120','80','40']"
            data-lineheight="['200','120','70','70']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[10,10,10,10]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"
            style="
              z-index: 5;
              font-family: 'Roboto', sans-serif;
              font-weight: 700;
              white-space: nowrap;
              text-transform: left;
            "
          >
           La meilleure université
          </div>

          <!-- LAYER NR. 4 -->
          <div
            class="tp-caption rev-btn rev-btn left_btn"
            id="slide-2939-layer13"
            data-x="['center','center','center','center']"
            data-hoffset="['-380','280','190','120']"
            data-y="['middle','middle','top','top']"
            data-voffset="['360','220','600','450']"
            data-fontsize="['14','14','10','8']"
            data-lineheight="['34','34','30','20']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
            data-responsive_offset="on"
            data-responsive="off"
            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:#ff5a2c;bw:2px 2px 2px 2px;"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,8,8]"
            data-paddingright="[40,40,30,25]"
            data-paddingbottom="[12,12,8,8]"
            data-paddingleft="[40,40,30,25]"
            style="
              z-index: 14;
              white-space: nowrap;
              font-weight: 500;
              color: #ffffff;
              font-family: Rubik;
              text-transform: uppercase;
              background-color: #ff5a2c;
              border-color: rgba(0, 0, 0, 1);
              border-width: 2px;
              border-radius: 3px;
            "
          >
           Commencer maintenant
          </div>
          <!-- LAYER NR. 5 -->
          <div
            class="tp-caption rev-btn rev-btn right-btn"
            id="slide-2939-layer-15"
            data-x="['center','center','center','center']"
            data-hoffset="['380','-280','-190','-120']"
            data-y="['middle','middle','top','top']"
            data-voffset="['360','220','600','450']"
            data-fontsize="['14','14','10','8']"
            data-lineheight="['34','34','30','20']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
            data-responsive_offset="on"
            data-responsive="off"
            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:#ff5a2c;bw:2px 2px 2px 2px; "}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[12,12,8,8]"
            data-paddingright="[40,40,30,25]"
            data-paddingbottom="[12,12,8,8]"
            data-paddingleft="[40,40,30,25]"
            style="
              z-index: 14;
              white-space: nowrap;
              font-weight: 500;
              color: #ffffff;
              font-family: Rubik;
              text-transform: uppercase;
              background-color: #092ace;
              letter-spacing: 1px;
              border-radius: 3px;
            "
          >
            Voir nos formations
          </div>
        </li>
      </ul>
      <!-- END SLIDES LIST -->
    </div>
    <!-- END SLIDER CONTAINER -->
  </div>
  <!-- END SLIDER CONTAINER WRAPPER -->
</header>
<!--  End header section-->
