{% extends 'layouts/base_form.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Réinitialisation du mot de passe {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-wrapper">
    <div class="error-box">
        <h1>404</h1>
        <h3 class="h2 mb-3"><i class="fas fa-exclamation-triangle"></i> Oops! Page not found!</h3>
        <p class="h4 font-weight-normal">The page you requested was not found.</p>
        <a href="index.html" class="btn btn-primary">Back to Home</a>
    </div>
</div>

{% endblock %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}