<footer class="page-footer bg-image" style="background-image: url(../assets/img/world_pattern.svg);">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 py-3">
                <h5></h5>
                <ul class="footer-menu">
                    <li><a href="#">JEUX DE DONNÉES</a></li>
                    <li><a href="#">THEMES</a></li>
                    <li><a href="#">DOCUMENTATION</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">A PROPOS</a></li>
                </ul>
            </div>
            <div class="col-lg-3 py-3">
                <h5></h5>
                <!-- <div class="social-media-button">
                  <a href="#"><span class="mai-logo-facebook-f"></span></a>
                  <a href="#"><span class="mai-logo-twitter"></span></a>
                  <a href="#"><span class="mai-logo-google-plus-g"></span></a>
                  <a href="#"><span class="mai-logo-instagram"></span></a>
                  <a href="#"><span class="mai-logo-youtube"></span></a>
                </div> -->
                <ul class="footer-menu">
                    <li><a href="#">LIENS UTILES</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">LICENCE</a></li>
                    <li></li>
                    <a href="#"></a>
                    <a href="#"></a>
                </ul>
            </div>

            <div class="col-lg-3 py-3">
                <h5>Contact Us</h5>
                <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                <a href="#" class="footer-link">+00 1122 3344 5566</a>
                <a href="#" class="footer-link">seogram@temporary.com</a>
            </div>
            <div class="col-lg-3 py-3">
                <h5>Newsletter</h5>
                <p>Get updates, news or events on your mail.</p>
                <form action="#">
                    <input type="text" class="form-control" placeholder="Enter your email..">
                    <button type="submit" class="btn btn-success btn-block mt-2">Subscribe</button>
                </form>
            </div>
        </div>

        <p class="text-center" id="copyright">Copyright &copy; {% now "Y" %}. Cabinet de developpement <a href="#"
                                                                                                 target="_blank">kalamar</a>
        </p>
        <p class="text-center"> Powerd by </p>
    </div>
</footer>