{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
{{ wizard.form.media }}
{% endblock %}

{% block title %}
Demande d'inscription
{% endblock title %}


{% block customcss %}
<style>

/*form styles*/
#msform {
	width: 90%;
	margin: 0px auto;
	position: relative;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
  /*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	line-height: 40px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #fcefef;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
	font-size: 20px;
}

#progressbar li:before{
    font-size: 18px;
}















</style>
{% endblock %}

{% block content %}

<div class="container-fluid content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% if student %}
                    <div class="container fluid">
                        <div class="card-title">
                            <h4>Demande d'inscription</h4>
                        </div>
                        <div>
                            <div class="card p-3">
                                <p><i>Nom:</i> {{ student.last_name }}</p>
                                <p><i>Prénom:</i> {{ student.first_name }}</p>
                                <p><i>Choix de filière : </i>{{ student.department_choice }}</p>
                                <p><i>date d'inscription : </i>{{ student.created }}</p>
                                <p>
                                    <i>Status: </i>{% if student.admitted and not student.paid %}
                                    <span class="text-primary">Demande validée, en attende de paiement</span>
                                    {% elif student.rejected %}
                                    <span class="text-danger">Demande d'inscription rejetée</span>
                                    {% elif student.admitted and student.paid %}
                                    <span class="text-success">Votre inscription est en cours de confirmation</span>
                                    {% else %}
                                    <span class="text-secondary">En cours de traitement</span>
                                    {% endif %}
                                </p>

                            </div>
                        </div>
                    </div>

                    {% else %}
                    {% comment %}
                    <div class="card-title">
                        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                    </div>
                    {% endcomment %}
                    <form id="msform" action="/dashboard/students/application/" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- progressbar -->
                        <ul id="progressbar" class="text-center">
                            {% if wizard.steps.step1 == 1 %}
                            <li class="active text-warning">A propos de vous</li>
                            {% else %}
                            <li class="text-warning">A propos de vous</li>
                            {% endif %}
                            {% if wizard.steps.step1 == 2 %}
                            <li class="active text-warning">Parents</li>
                            {% else %}
                            <li class="text-warning">Parents</li>
                            {% endif %}
                            {% if wizard.steps.step1 == 3 %}
                            <li class="active text-warning">Parcours</li>
                            {% else %}
                            <li class="text-warning">Parcours</li>
                            {% endif %}
                        </ul>
                        {% if wizard.steps.step1 == 1 %}
                        <h5 class="fs-title text-center">A propos de vous</h5>
                        {% elif wizard.steps.step1 == 2 %}
                        <h5 class="fs-title text-center">Parents</h5>
                        {% elif wizard.steps.step1 == 3 %}
                        <h5 class="fs-title text-center">Parcours</h5>
                        {% endif %}
                        <table>
                            {{ wizard.management_form }}
                            {% if wizard.form.forms %}
                                {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form|crispy }}
                            {% endfor %}
                            {% else %}
                                {% for field in wizard.form %}
                                    {{ field|as_crispy_field }}
                                {% endfor %}
                            {% endif %}
                        </table>
                        {% if wizard.steps.prev %}
                        <input type="submit" name="wizard_goto_step" class="previous action-button text-center"
                               value="page {{ wizard.steps.first }}"/>
                        <input type="submit" name="wizard_goto_step" class="previous action-button text-center"
                               value="page {{ wizard.steps.prev }}"/>
                        {% endif %}
                        <input type="submit" name="next" class="next action-button text-center" value="suivant"/>
                    </form>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


</div>


{% endblock %}
{% block customjs %}
<script>

</script>
{% endblock %}