{% extends 'layouts/base_dash.html' %}
{% load static %}


{% block content %}
<div class="container-fluid content">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Liste des frais de scolarité</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'payment:read_fees' %}">>Liste des frais de
                        scolarité</a></li>
                    <div class="col-auto text-right float-right ml-auto">
                        <a href="{% url 'payment:create_fees' %}" class="btn btn-primary"><i
                                class="fas fa-plus"></i></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="subjectGroupDataTable" class="table table-hover table-center mb-0 datatable">
                            <thead>
                            <tr>
                                <th scope="col">Département</th>
                                <th scope="col">Annés académique</th>
                                <th scope="col">Semestres</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Description</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fee in fees %}
                            <tr>
                                <td>
                                    {{ fee.department }}
                                </td>
                                <td>
                                    {{ fee.ac_session }}
                                </td>
                                <td>
                                    {% for sm in fee.semesters.all %}
                                    {{ sm }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ fee.fees_amount }}
                                </td>
                                <td>
                                    {{ fee.description }}
                                </td>
                                <td class="text-right">
                                    <div class="actions">
                                        <a href="{% url 'payment:update_fees' pk=fee.pk%}"
                                           class="btn btn-sm bg-success-light mr-2">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="{% url 'payment:delete_fees' pk=fee.pk%}"
                                           class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block customjs %}

{% endblock %}