{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_header %}
<link rel="stylesheet" href="{% static 'assets/plugins/simple-calendar/simple-calendar.css' %}">
{% endblock %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Bienvenue {{request.user.first_name}}!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-sm-4 col-12 d-flex">
            <div class="card bg-nine w-100">
                <div class="card-body">
                    <div
                            class="db-widgets d-flex justify-content-between align-items-center"
                    >
                        <div class="db-icon">
                            <i class="fas fa-book-open"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{subjects.count}}</h3>
                            <h6>UES cette année</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12 d-flex">
            <div class="card bg-eleven w-100">
                <div class="card-body">
                    <div
                            class="db-widgets d-flex justify-content-between align-items-center"
                    >
                        <div class="db-icon">
                            <i class="fas fa-clipboard-check"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{vresults.count}}</h3>
                            <h6>UE{{vresults.count|pluralize}} validée{{vresults.count|pluralize}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12 d-flex">
            <div class="card bg-ten w-100">
                <div class="card-body">
                    <div
                            class="db-widgets d-flex justify-content-between align-items-center"
                    >
                        <div class="db-icon">
                            <i class="fas fa-clipboard-list"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{nresults.count}}</h3>
                            <h6>UE{{nresults.count|pluralize}} Non validée{{nresults|pluralize}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h5 class="card-title">Calendrier</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="calendar-doctor" class="calendar-container"></div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/chart-data.js'%}"></script>
<script src="{% static 'assets/plugins/simple-calendar/jquery.simple-calendar.js'%}"></script>
<script src="{% static 'assets/js/circle-progress.min.js'%}"></script>
<script src="{% static 'assets/js/calander.js'%}"></script>
{% endblock %}