{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block title %}
Changement de mot de passe
{% endblock title %}

{% block content %}
<div class="container-fluid content">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Changement de mot de passe</h5>
            <div class="row">
                <div class="col-md-10 col-lg-6">
                    <form action="" method="POST">
                        <div class="form-group">
                            {% if form.errors %}
                            <div class="alert {{ message.tags }} alert-dismissible fade show text-white bg-danger"
                                 role="alert">
                                {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_old_password">Mot de passe actuel</label>
                            <input type="password" name="old_password" autocomplete="new-password"
                                   class="form-control" required id="id_old_password">
                        </div>
                        <div class="form-group">
                            <label for="id_new_password1">Nouveau mot de passe</label>
                            <input type="password" name="new_password1" autocomplete="new-password"
                                   class="form-control" required id="id_new_password1">
                        </div>
                        <div class="form-group">
                            <label for="id_new_password2"> Confirmer le mot de passe</label>
                            <input type="password" name="new_password2" autocomplete="new-password"
                                   required id="id_new_password2" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}