{% extends 'layouts/base_form.html' %}

{% load static %}
{% block title %} Réinitialisation du mot de passe {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                     <img class="img-fluid" src="{% static 'assets/img/logo2.svg' %}" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <p class="account-subtitle"></p>
                        <h3>Message de réinitialisation du mot de passe envoyé</h3>
                        <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour
                            autant qu’un
                            compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce
                            message.</p>
                        <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous
                            vous êtes
                            enregistré et vérifiez dans vos spams.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}