{% extends 'layouts/base_form.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Réinitialisation du mot de passe {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="assets/img/logo-white.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <p class="account-subtitle"></p>
                        <h1 class="form-title">
                            Entrer le nouveau mot de passe
                        </h1>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                            <span class="text-error" style="color:red;">{{ form.new_password1.errors }}</span>
                            <div class="form-group">
                                {{ form.new_password2|as_crispy_field }}
                            </div>
                            <span class="text-error" style="color:red;">{{ form.new_password2.errors }}</span>
                            <div class="form-group">
                                <input
                                        class = "btn btn-primary btn-block"
                                        type="submit"
                                        name="signup"
                                        id="signup"
                                        value="Valider"
                                />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}