{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}

{% block extra_css %}

{% endblock extra_css %}


{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Profil</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profil</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="profile-header">
                <div class="row align-items-center">
                    <div class="col-auto profile-image">
                        <form action="{% url 'profile_picture_upload' %}" method="post" id="profile-image-form"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="profile-image-upload" class="hidden d-none" type="file" name="profile-picture">
                            <img id="profile-image" title="Upload new profile picture" class="rounded-circle"
                                 style="cursor: pointer;"
                                 {% if user.profile.profile_picture %}
                                 src="{{ user.profile.profile_picture.url }}"
                                 {% else %}
                                 src="{% static '/assets/img/user.png' %}"
                                 {% endif %}
                                 width="150"/>
                        </form>
                    </div>
                    <div class="col ml-md-n2 profile-user-info">
                        <h4 class="user-name mb-0">{{request.user.last_name}} {{request.user.first_name}}</h4>
                        <h6 class="text-muted">{{ request.user.requested_role }}</h6>
                        {% if request.user.address %}
                        <div class="user-Location"><i class="fas fa-map-marker-alt"></i> {{ request.user.address }}
                        </div>
                        {% endif %}
                        <div class="about-text">Lorem ipsum dolor sit amet.</div>
                    </div>
                </div>
            </div>
            <div class="profile-menu">
                <ul class="nav nav-tabs nav-tabs-solid">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#per_details_tab">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#password_tab">Mot de passe</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content profile-tab-cont">
                <div class="tab-pane fade show active" id="per_details_tab">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between">
                                        <span>Details</span>
                                        <a class="edit-link" href="#" data-toggle="modal"
                                           data-target="#account-update-modal"><i class="far fa-edit mr-1"></i> Modifier</a>
                                    </h5>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Nom</p>
                                        <p class="col-sm-9">{{request.user.last_name}} {{request.user.first_name}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email</p>
                                        <p class="col-sm-9">{{request.user.email}}
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Pays</p>
                                        <p class="col-sm-9">{{request.user.profile.country}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0">Adresse</p>
                                        {% if request.user.address %}
                                        <p class="col-sm-9 mb-0">{{request.user.address}}.</p>
                                        {% else %}
                                        <p class="col-sm-9 mb-0">Aucune</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between">
                                        <span>Status du compte</span>
                                    </h5>
                                    <div class="card p-3 bg-success text-white">
                                        {{ user.get_approval_status_display }}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between">
                                        <span>Type de compte </span>
                                        <a class="edit-link" href="#" data-toggle="modal"
                                           data-target="#request-update-modal"><i class="far fa-edit mr-1"></i> Modifier</a>
                                    </h5>
                                    <div class="skill-tags">
                                        <span>{{ request.user.role }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="password_tab" class="tab-pane fade">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Changement de mot de passe</h5>
                            <div class="row">
                                <div class="col-md-10 col-lg-6">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="id_old_password">Mot de passe actuel</label>
                                            <input type="password" name="old_password" autocomplete="new-password"
                                                   class="form-control" required id="id_old_password">
                                        </div>
                                        <div class="form-group">
                                            <label for="id_new_password1">Nouveau mot de passe</label>
                                            <input type="password" name="new_password1" autocomplete="new-password"
                                                   class="form-control" required id="id_new_password1">
                                        </div>
                                        <div class="form-group">
                                            <label for="id_new_password2"> Confirmer le mot de passe</label>
                                            <input type="password" name="new_password2" autocomplete="new-password"
                                                   required id="id_new_password2" class="form-control">
                                        </div>
                                        <a class="btn btn-primary" href="{% url 'password_change'%}">Modifier</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <!-- Profile Complete Form -->
                    {% if user.approval_status == 'd'%}
                    <div class="alert alert-danger" role="alert">
                        Votre demande d'approbation pour un compte <strong>{{ user.requested_role }}</strong> a été rejeté .
                    </div>
                    {% elif user.approval_status == 'p'%}
                    <div class="alert alert-warning" role="alert">
                        Votre demande d'approbation pour un compte <strong>{{ user.requested_role }}</strong> est en attente
                        d'approbation.
                    </div>
                    {% endif %}

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <!-- Form for UnVerified User (SENDS A VERIFICATION REQUEST) -->
                    {% if user.approval_status != 'a' and user.requested_role == 'suscriber'%}
                    <form method="post">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Votre compte n’est pas vérifié.</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% else %}
                        <!-- Form for verfied users (UPDATES USER PROFILE DETAILS) -->
                        <form action="" method="POST" enctype="multipart/form-data" id="profile-edit-form">
                            {% csrf_token %}
                            <div class="card-header bg-light">
                                Informations Générales
                            </div>
                            <div class="">
                                {% if not profile_not_found %}
                                {{ profile_edit_form|crispy }}
                                <hr>
                                {% else %}
                                <div class="alert alert-warning" role="alert">
                                    {{ profile_not_found }}
                                </div>
                                {% endif %}
                                <input type="submit" value="Sauvegarder"
                                       class="btn btn-secondary float-right mt-3shadow" name="user-profile-update-form">
                            </div>
                        </form>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- section profile detail -->


<div class="modal fade" id="request-update-modal" tabindex="-1" role="dialog" aria-hidden="true"
     style="z-index: 1000000;">
    <form action="{% url 'profile_complete' %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="" id="">
                        Demande de modification de type de compte
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ verification_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- section user detail -->
<div class="modal fade" id="account-update-modal" tabindex="-1" role="dialog" aria-hidden="true"
     style="z-index: 1000000;">
    <form action="{% url 'profile_complete' %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="" id="">
                        Modifier les infos du compte
                    </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ user_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block customjs %}
<script>
  // get csrf token (provided by django)
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

  // profile picture upload
  $('#profile-image').on('click', function() {
    $('#profile-image-upload').click();
  });

  $('#profile-image-form').on('submit', function(e) {
    e.preventDefault();
    const formData = new FormData($('#profile-image-form').get(0));
    console.log(formData);
    $.ajax({
      type: 'POST',
      url: $(this).attr('action'),
      data: formData,
      cache: false,
      processData: false,
      contentType: false,
      csrfmiddlewaretoken: csrftoken,
      success: function (data) {
        const imageUrl = data.imgUrl;
        $('#profile-image').attr('src', imageUrl);
      },
      error: function (data) {
        console.log("error");
        console.log(data);
      }
    })
  })

  $('#profile-image-upload').on('change', function() {
    $('#profile-image-form').submit();
  })















</script>
{% endblock %} 
