{% extends 'layouts/base_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block extra_header %}
{% endblock %}

{% block title %}
Signup
{% endblock %}

{% block content %}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="assets/img/logo-white.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="login-right-wrap">
                            <h1>Créer un compte</h1>
                            <p class="account-subtitle"></p>

                            <form action="" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{user_form.last_name}}
                                </div>
                                <span class="text-error" style="color:red;">{{ user_form.last_name.errors }}</span>
                                <div class="form-group">
                                    {{user_form.first_name}}
                                </div>
                                <span class="text-error" style="color:red;">{{ user_form.first_name.errors }}</span>
                                <div class="form-group">
                                    {{user_form.username}}
                                </div>
                                <span class="text-error" style="color:red;">{{ user_form.username.errors }}</span>
                                <div class="form-group">
                                    {{user_form.email}}
                                </div>
                                <span class="text-error" style="color:red;">{{ user_form.email.errors }}</span>
                                <div class="form-group">
                                    {{user_form.password1}}
                                </div>
                                <span class="text-error" style="color:red;">{{ user_form.password1.errors }}</span>
                                <div class="form-group">
                                    {{user_form.password2}}
                                </div>
                                <span class="text-error" style="color:red;">{{ user_form.password2.errors }}</span>
                                <div class="form-group">
                                    {{user_form.requested_role|as_crispy_field}}
                                </div>
                                <span class="text-error" style="color:red;">{{ user_form.requested_role.errors }}</span>
                                <div class="form-group mb-0">
                                    <button class="btn btn-primary btn-block">créer le compte</button>
                                </div>
                            </form>

                            <div class="text-center dont-have">Already have an account? <a
                                    href="{% url 'login' %}">Se connecter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customjs %}
<script>
      function showPassword() {
        var password1 = document.getElementById("id_password1");
        var password2 = document.getElementById("id_password2");
        if (password1.type === "password") {
          password1.type = "text";
          password2.type = "text";
        } else {
          password1.type = "password";
          password2.type = "password";
        }
      }
</script>
{% endblock  %}
