{% extends 'layouts/base_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block extra_header %}
{% endblock %}
{% block content %}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="assets/img/logo-white.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        {% if messages %}
                        <ul class="messages" style="background-color: red; opacity:0.1; ">
                            {% for message in messages %}
                            <li
                                    {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                <span class="text-success">{{ message }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="login-right-wrap">
                            <h1>Register</h1>
                            <p class="account-subtitle">Access to our dashboard</p>

                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{user_form.username}}
                                    <span class="text-error" style="color:red;">{{ user_form.username.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{user_form.email}}
                                    <span class="text-error" style="color:red;">{{ user_form.email.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{user_form.password1}}
                                    <span class="text-error" style="color:red;">{{ user_form.password1.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{user_form.password2}}
                                    <span class="text-error" style="color:red;">{{ user_form.password2.errors }}</span>
                                </div>
                                <div class="form-group">
                                    <!-- Show password -->
                                    <input class="h-4 w-4 rounded"
                                           type="checkbox" onclick="showPassword()"
                                           style="margin-top: 0; display: inline;">
                                    <label class="block text-sm text-gray-900"
                                           style="margin-top: 0; display: inline;">
                                        Show Password
                                    </label>
                                </div>
                                <div class="form-group mb-0">
                                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                                </div>
                            </form>

                            <div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">or</span>
                            </div>

                            <div class="social-login">
                                <span>Register with</span>
                                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#"
                                                                                                     class="google"><i
                                    class="fab fa-google"></i></a>
                            </div>

                            <div class="text-center dont-have">Already have an account? <a
                                    href="{% url 'account:login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
      function showPassword() {
        var password1 = document.getElementById("id_password1");
        var password2 = document.getElementById("id_password2");
        if (password1.type === "password") {
          password1.type = "text";
          password2.type = "text";
        } else {
          password1.type = "password";
          password2.type = "password";
        }
      }

</script>
{% endblock extrajs %}
