{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %} {% endblock %}

{% block content %}
<div class="container-fluid content">

    <div class="row justify-content-between">
        <div class="col-md-6">
            <form
                    action="."
                    method="POST"
                    class="admission-form d-block"
                    enctype="multipart/form-data"
            >
                <div class="alert alert-warning">
                    <p>
                        Remplissez d'abord tous les champs obligatoires, puis cliquez sur
                        <em>Valider</em>
                    </p>
                </div>
                {% csrf_token %} {{ form|crispy }}
                <input type="submit" value="Valider" class="btn btn-dark"/>
            </form>
        </div>
        <div class="col-md-5">
            <div class="card p-3 alert alert-warning">
                <h6>
                    Lignes directrices pour le remplissage des formulaires
                </h6>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customjs %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>
  // Select image
  $('input[type="file"]').change(function (e) {
    const fileName = e.target.files[0].name;
    $(".custom-file-label").html(fileName);
  });
</script>
{% endblock %}
