{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
{% endblock %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Étudiants acceptés</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Liste des étudiants acceptés</li>
                    <small>
                        (Les demandes d'inscriptions déjà approuvées et payées)
                    </small>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                <a href="{% url 'dashboard:student:add_student' %}" class="btn btn-primary"><i
                        class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Image</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénoms</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Département choisi</th>
                                <th scope="col">Date d'acceptation</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for applicant in admitted_students %}
                            <tr>

                                <th scope="row">{{ applicant.id }}</th>
                                <td>
                                    <img src="{{ applicant.photo.url }}" width="50" height="50">
                                </td>
                                <td>{{ applicant.last_name|upper }}</td>
                                <td>{{ applicant.first_name|capfirst }}</td>
                                <td>{{ applicant.permanent_address }}</td>
                                <td>{{ applicant.choosen_department }}</td>
                                <td>{{ applicant.admission_date }}</td>
                                <td class="text-right">
                                    <div class="actions">
                                        <a href="{% url 'dashboard:student:update_online_registrant' pk=applicant.id %}"
                                           class="btn btn-sm bg-success-light mr-2">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}

{% endblock %}
