{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_header %}
{% endblock %}

{% block title %}
Faire une réinscription
{% endblock title %}


{% block content %}
<div class="content container-fluid">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title"></h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Réinscription</a></li>
                    <li class="breadcrumb-item active">Faire une réinscription</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="valider" class="btn btn-dark">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}

{% endblock %}