{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load permission_tags %}
{% load student_tags %}
{% load humanize %}

{% block customcss %}
<style>
    .isDisabled {
      color: currentColor;
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: none;
    }




</style>
{% endblock %}

{% block title %}
Détails étudiant
{% endblock title %}

{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Détails</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:student:all_student' %}">Liste étudiants</a>
                    </li>
                    <li class="breadcrumb-item active">Détails
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <a href="{% url 'dashboard:student:students_board' %}" class="btn btn-danger">
                            Dashboard
                        </a>
                        {% if request.user|has_role:'admin' %}
                        <a href="{% url 'dashboard:student:delete_student' pk=student.pk %}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a href="{% url 'dashboard:student:update_student' pk=student.pk %}" class="btn btn-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                        {% if request.current_session.year > student.ac_session.year %}
                        <a href="{% url 'dashboard:student:new_admission' pk=student.pk %}" class="btn btn-secondary">
                            <i class="fas fa-edit">Réinscription</i>
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="about-info">
                        <div class="media mt-3">
                            <img class="mr-3" alt="..."
                                 {% if student.admission_student.photo %}
                                 src="{{ student.admission_student.photo.url }}"
                                 {% else %}
                                 src="{% static '/assets/img/user.png' %}"
                                 {% endif %}
                            >
                            <div class="media-body">
                                <ul>
                                    <li>
                                        <span class="title-span">Matricule: </span>
                                        <span class="info-span">{{ student.temporary_id }}</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Nom: </span>
                                        <span class="info-span">{{ student.admission_student.last_name }} {{ student.admission_student.first_name }}</span>
                                    </li>
                                    <li>
                                        <span class="title-span">Filière: </span>
                                        <span class="info-span">{{ student.admission_student.choosen_department }}</span>
                                    </li>
                                    <li><span class="title-span">Mobile: </span>
                                        <span class="info-span">{{ student.admission_student.mobile_number }}</span>
                                    </li>
                                    <li><span class="title-span">Email: </span>
                                        <span class="info-span">{{ student.admission_student.email }}</span>
                                    </li>
                                    <li><span class="title-span">Gender : </span>
                                        <span class="info-span">{{ student.admission_student.gender }}</span>
                                    </li>
                                    <li><span class="title-span">DDN : </span>
                                        <span class="info-span">{{ student.admission_student.date_of_birth }}</span>
                                    </li>
                                    <li><span class="mr-1">Numéro personne à prévenir : </span>
                                        <span class="info-span">{{ student.admission_student.guardian_mobile_number }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <section id="student-results">
                            <div class="container-fluid">
                                <div class="row mt-5">
                                    <div class="col-sm-12">
                                        <h3>Historique des factures/paiements</h3>
                                        {% if payments %}
                                        <div class="card card-table">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                        <tr>
                                                            <th>Pour</th>
                                                            <th>impayé de la session précédente</th>
                                                            <th>Montant à payer</th>
                                                            <th>Montant payé</th>
                                                            <th>Solde</th>
                                                            <th>Statut</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for payment in payments %}

                                                        <tr>

                                                            <td><a href="{% url 'payment:invoice_detail' payment.id %}">{{payment.session}}
                                                            </a></td>
                                                            <td><a href="{% url 'payment:invoice_detail' payment.id %}">{{payment.balance_from_previous_session | intcomma}}
                                                            </a>
                                                            </td>
                                                            <td><a href="{% url 'payment:invoice_detail' payment.id %}">{{payment.total_amount_payable | intcomma}}</a>
                                                            </td>
                                                            <td><a href="{% url 'payment:invoice_detail' payment.id %}">{{payment.total_amount_paid | intcomma}}</a>
                                                            </td>
                                                            <td><a href="{% url 'payment:invoice_detail' payment.id %}">{{payment.balance | intcomma}}</a>
                                                            </td>
                                                            <td><a href="{% url 'payment:invoice_detail' payment.id %}">{{payment.statut}}</a>
                                                            </td>
                                                            {% if request.user|has_role:'accounts' %}
                                                            <td>
                                                                {% if payment.status == "active" %}
                                                                <a class="btn btn-success btn-sm"
                                                                   href="{% url 'payment:create_receipt' %}?invoice={{ payment.id }}"
                                                                   role="link" aria-disabled="true">Nouveau payement
                                                                </a>
                                                                {% else %}
                                                                <a class="btn btn-success btn-sm isDisabled"
                                                                   role="link" aria-disabled="true">Nouveau payement
                                                                </a>
                                                                {% endif %}
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <p>Il n'y a pas encore d'historique de paiement pour {{object}}</p>
                                        {% endif %}

                                        <hr>

                                        <h3>Tableau de résultats</h3>
                                        {% if results %}
                                        <div class="card card-table">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Matière</th>
                                                            <th scope="col">Note de classe</th>
                                                            <th scope="col">Note d'examen</th>
                                                            <th scope="col">Note de rattrapage</th>
                                                            <th scope="col">Total</th>
                                                            <th scope="col">Moyenne</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for result in results %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ result.subject }}</td>
                                                            <td>{{ result.class_marks }}</td>
                                                            <td>{{ result.exam_marks }}</td>
                                                            <td>{{ result.extra_marks }}</td>
                                                            <td>{{ result.total_marks }}</td>
                                                            <td>{{ result.average }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                         {% else %}
                                        <p>Il n'y a pas encore de résultats pour {{object}}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block customjs %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% endblock %}