{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load student_tags %}

{% block content %}
<div class="container content">
    <section id="student-detail-section header">
        <div id="student-detail-section--inner">
            <div class="container">
                <a href="{% url 'dashboard:student:students_board' %}" class="btn btn-danger">
                    Dashboard
                </a>
                <a href="{% url 'dashboard:student:delete_student' pk=student.pk %}" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a href="{% url 'dashboard:student:update_student' pk=student.id %}" class="btn btn-secondary">
                    <i class="fas fa-edit"></i>
                </a>
                <div class="row py-5">
                    <div class="col-3">
                        <img class="student-profile-img" src="{{ student.admission_student.photo.url }}" alt=""
                             width="200"
                             height="200">
                    </div>
                    <div class="col-8">
                        <h2>{{ student.admission_student.name }}</h2>
                        <h4>
                            {{ student.admission_student.choosen_department }}
                        </h4>
                        <h4>
                            Semestre : {{ student.semester }}
                        </h4>
                        <h4>
                            Matricule : {{ student.temporary_id }}
                        </h4>
                        {% if student.roll %}
                        <h4>Roll: {{ student.roll }}</h4>
                        {% endif %}
                        {% if student.registration_number %}
                        <h4>Numéro d'enregistrement: {{ student.registration_number }}</h4>
                        {% endif %}
                        <h4>Session: {{ student.ac_session }}</h4>
                        {% if student.mobile %}
                        <h4>Mobile: {{ student.mobile }}</h4>
                        {% endif %}
                        {% if student.email %}
                        <h4>Email: {{ student.email }}</h4>
                        {% endif %}
                        {% if student.guardian_mobile %}
                        <h4>Personne à prévenir : {{ student.guardian_mobile }}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="student-results">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-12">
                    <h3>Historique des factures/paiements</h3>
                    {% if payments %}
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                    <tr>
                                        <th>Pour</th>
                                        <th>Montant à payer</th>
                                        <th>Montant payé</th>
                                        <th>Solde</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for payment in payments %}
                                    <tr class='clickable-row' data-href="{% url 'payment:invoice_detail' payment.id %}">
                                        <td>{{payment.session}} - {{payment.term}} - {% for semester in payment.semesters.all %}{{ semester }} {% endfor %}
                                        </td>
                                        <td>{{payment.total_amount_payable}}</td>
                                        <td>{{payment.total_amount_paid}}</td>
                                        <td>{{payment.balance}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p>Il n'y a pas d'historique de paiement pour {{object}}</p>
                    {% endif %}

                    <hr>

                    <h3>Tableau de résultats</h3>
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Matière</th>
                                        <th scope="col">Note de classe</th>
                                        <th scope="col">Note d'examen</th>
                                        <th scope="col">Note de rattrapage</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Moyenne</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in results %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ result.subject }}</td>
                                        <td>{{ result.class_marks }}</td>
                                        <td>{{ result.exam_marks }}</td>
                                        <td>{{ result.extra_marks }}</td>
                                        <td>{{ result.total_marks }}</td>
                                        <td>{{ result.average }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}

{% block customjs %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% endblock %}