{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}
Facture
{% endblock title %}


{% block content %}
<div class="container-fluid content">
    <div class="row">
        <div class="col-sm-4">
            <h3>{{ object }} </h3>
            <h5>{{ object.session }} </h5>
            <h6>Statut: {{ object.statut }} </h6>
            <hr>
            <div>
                <h4>Montant restant: {{ object.balance | intcomma }}</h4>
            </div>
        </div>
        <div class="col-sm-8">
            <table class="table table-sm table-bordered">
                Récapitulatif de la Facture</br>
                <thead class="thead-light">
                <tr>
                    <th>S/N</th>
                    <th>Description</th>
                    <th>Montant</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.amount }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                {% for item in items %}
                <tr>
                    <td></td>
                    <td>Solde de la première tranche</td>
                    <td>{{ item.term1 | intcomma }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Solde de la seconde tranche</td>
                    <td>{{ item.term2 | intcomma }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Solde de la troisième tranche</td>
                    <td>{{ item.term3 | intcomma }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Solde de la quatrième tranche</td>
                    <td>{{ item.term4 | intcomma }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Montant total a payer</td>
                    <td>{{ object.total_amount_payable | intcomma}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Montant total payé</td>
                    <td>{{ object.total_amount_paid | intcomma}}</td>
                </tr>

                </tfoot>
            </table>
        </div>
    </div>

    <hr>

    <h5>Historique de paiement</h5>
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
            <th>S/N</th>
            <th>Le montant payé</th>
            <th>Date de paiement</th>
            <th>Commentaire</th>
        </tr>
        </thead>
        <tbody>
        {% for receipt in receipts %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ receipt.amount_paid | intcomma }}</td>
            <td>{{ receipt.date_paid}}</td>
            <td>{{ receipt.comment}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}


{% block customjs %}

{% endblock %}