{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid content">
    <form action="" method="POST">
        {% csrf_token %}

        <div class="alert">
            <p>Are you sure you want to delete invoice "{{ object }}"?</p>
            <p>All receipts attached to this invoice will be deleted</p>
        </div>

        <input type="submit" class="btn btn-primary" value="Confirm">

    </form>

</div>
{% endblock %}


{% block customjs %}

{% endblock %}