{% extends 'layouts/base_dash.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
Choisir la session courante
{% endblock title %}


{% block content %}
<div class="container-fluid content">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            {% for field in form %}
            <div class="form-group row">
                <div class="col-2">{{ field.label_tag}}</div>
                <div class="col-6">
                    {{ field | add_class:"form-control"}}
                    <span class="small">{{ field.help_text |safe}}</span>
                </div>
            </div>
            {% endfor %}
        </div>


        <input type="submit" value="valider" class="w-25 btn btn-primary">

    </form>

</div>

{% endblock content %}
